html{
    font-size: 100px;
}
html,body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-size: 14px;
    font-family: 'Microsoft YaHei', Arial, Helvetica, sans-serif, '宋体';  
}
div{box-sizing: border-box;}
