html {
    font-size: 100px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'PingFangSC', 'Microsoft YaHei', Arial, Helvetica, sans-serif, '宋体';
    text-align: center;
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,
span,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body,
html,
div,
ul {
    -webkit-overflow-scrolling: touch;
}
.weixin-only{
    position: absolute;
    top:50%;
    left: 0;
    width: 100%;
    transform: translateY(-50%);
}