html {
    font-size: 100px;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 14px;
    font-family: 'PingFangSC', 'Microsoft YaHei', Arial, Helvetica, sans-serif, '宋体';
}

div {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

a,
span,
div {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}